
<div class="main">

<h1>DNS Details </h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Domain Name:</strong>
  <%= @question.dnsname %>
</p>

<p>
  <strong>Record Type:</strong>
  <%= @question.recordtype %>
</p>

<p>
  <strong>Server:</strong>
  <%= @question.server %>
</p>

<% if @question.timeperiod==1 %>
<p>
  <strong>Response Time Interval:</strong>
  <%= @question.timeperiod %>&nbsp;Minute
</p>
<%end%>
<% if @question.timeperiod==5 || @question.timeperiod==10 || @question.timeperiod==30 %> 
<p>
  <strong>Response Time Interval:</strong>
  <%= @question.timeperiod %>&nbsp;Minutes
</p>
<%end%>
<% if @question.timeperiod==60 %>
<p>
  <strong>Response Time Interval:</strong>
  1 Hour
</p>
<%end%>
<% if @question.timeperiod==1440 %>
<p>
  <strong>Response Time Interval:</strong>
  1 Day
</p>
<%end%>
<hr>
<div class="information">
 <table >
         <tr>
           <td>-A</td>
           <td>(the IP address)</td>
         </tr>

         <tr>
           <td>-TXT</td>
           <td>(text annotations)</td>
         </tr>

         <tr>
           <td>-MX</td>
           <td>(mail exchanges)</td>
         </tr>

          <tr>
           <td>-NS</td>
           <td>nameservers</td>
         </tr>
         
 </table>
</div>


<h3 style="text-align: center; margin-top: 50px;">DNS Answer </h3>

<table align="center" style="text-align: center;" class="table">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;DNS&nbsp;</th>
      <th style="text-align: center">Time To Live&nbsp;</th>
      <th style="text-align: center">Record Type&nbsp;</th>
      <th style="text-align: center">Ip Address&nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td >&nbsp;<%= answer.dnsname %></td>
        <td style="text-align: center">&nbsp;<%= answer.ttl %></td>
        <td>&nbsp;<%= answer.recordtype %></td>
        <td>&nbsp;<%= answer.ipaddress %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<hr>
&nbsp;
<%= link_to questions_path ,class: "btn btn-default" do%>
 <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back
 <%end%>
 &nbsp;
</div>

<style>
 .main{
  margin-top: 70px;
 }
.table {
  margin-top: 10px;
}
</style>
