
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="print" href="print.css">

<div id="divToPrint">
<div class="main">
<h1> </h1>
<h1> DNS Details </h1>
</div>

<hr>

<p id="notice"><%= notice %></p>
<button onclick="topFunction()" id="myBtn" title="Go to top"><span class="fa fa-angle-double-up"></span></button>

<p>
  <strong>Domain Name:</strong>
  <%= @question.dnsname %>
</p>

<p>
  <strong>Record Type:</strong>
  <%= @question.recordtype %>
</p>

<p>
  <strong>Server:</strong>
  <%= @question.server %>
</p>

<% if @question.timeperiod==1 %>
<p>
  <strong>Response Time Interval:</strong>
  <%= @question.timeperiod %>&nbsp;Minute
</p>
<%end%>
<% if @question.timeperiod==5 || @question.timeperiod==10 || @question.timeperiod==30 %> 
<p>
  <strong>Response Time Interval:</strong>
  <%= @question.timeperiod %>&nbsp;Minutes
</p>
<%end%>
<% if @question.timeperiod==60 %>
<p>
  <strong>Response Time Interval:</strong>
  1 Hour
</p>
<%end%>
<% if @question.timeperiod==1440 %>
<p>
  <strong>Response Time Interval:</strong>
  1 Day
</p>
<%end%>

<hr>


<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Query&nbsp;</th>
      <th style="text-align: center">Answer&nbsp;</th>
      <th style="text-align: center">Authority&nbsp;</th>
      <th style="text-align: center">Additional&nbsp;</th>
      <th style="text-align: center">udp&nbsp;</th>
      <th style="text-align: center">version&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td >&nbsp;<%= @questions.query %></td>
        <td >&nbsp;<%= @questions.answer %></td>
        <td >&nbsp;<%= @questions.authority %></td>
        <td >&nbsp;<%= @questions.additional %></td>
        <td >&nbsp;<%= @questions.udp %></td>
        <td >&nbsp;<%= @questions.version %></td>
   
        </tr>
  </tbody>
</table>
</div>

<hr style="margin-top:-40px;">

<%total=0%>
<% @answers.each do |answer| %>
<% if answer.question_id==@questions.id && answer.typeAnswer=="answer"%>
<% total=total+1 %>
<%end%>
<%end%>

<% if total!=0 %>
<div class="wrapper">
<h3 style="text-align: center; margin-top: 10px;"><u><b></b> </u></h3>
<h3 style="text-align: center; margin-top: 10px;"><u><b>ANSWER</b> </u></h3>
<table align="center" style="text-align: center;" class="table1">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;DNS&nbsp;</th>
      <th style="text-align: center">Time To Live&nbsp;</th>
      <th style="text-align: center">Record Type&nbsp;</th>
      <th style="text-align: center">Ip Address&nbsp;</th>
  
  
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <% if answer.question_id==@questions.id && answer.typeAnswer=="answer"%>
        <td >&nbsp;<%= answer.dnsname %></td>
        <td style="text-align: center">&nbsp;<%= answer.ttl %></td>
        <td>&nbsp;<%= answer.recordtype %></td>
        <td>&nbsp;<%= answer.ipaddress %></td>
 
        <%end%>
        
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<%end%>

<%total1=0%>
<% @answers.each do |answer| %>
<% if answer.question_id==@questions.id && answer.typeAnswer=="authority"%>
<% total1=total1+1 %>
<%end%>
<%end%>

<% if total1!=0 %>
<h3 style="text-align: center; margin-top: 50px;"><u><b>AUTHORITY</b> </u></h3>
<div class="wrapper">
<table align="center" style="text-align: center; margin-top: -40px;" class="table2">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;DNS&nbsp;</th>
      <th style="text-align: center">Time To Live&nbsp;</th>
      <th style="text-align: center">Record Type&nbsp;</th>
      <th style="text-align: center">Ip Address&nbsp;</th>
    
   
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
    <% if answer.question_id==@questions.id && answer.typeAnswer=="authority"%>
      <tr>
        <td >&nbsp;<%= answer.dnsname %></td>
        <td style="text-align: center">&nbsp;<%= answer.ttl %></td>
        <td>&nbsp;<%= answer.recordtype %></td>
        <td>&nbsp;<%= answer.ipaddress %></td>
     
        <%end%>
        
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<%end%>

<%total2=0%>
<% @answers.each do |answer| %>
<% if answer.question_id==@questions.id && answer.typeAnswer=="additional"%>
<% total2=total2+1 %>
<%end%>
<%end%>

<% if total2!=0 %>
<h3 style="text-align: center; margin-top: 50px;"><u><b>ADDITIONAL</b></u> </h3>
<div class="wrapper">
<table align="center" style="text-align: center;margin-top: -40px; " class="table3">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;DNS&nbsp;</th>
      <th style="text-align: center">Time To Live&nbsp;</th>
      <th style="text-align: center">Record Type&nbsp;</th>
      <th style="text-align: center">Ip Address&nbsp;</th>

    
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <% if answer.question_id==@questions.id && answer.typeAnswer=="additional"%>
       <tr>
        <td >&nbsp;<%= answer.dnsname %></td>
        <td style="text-align: center">&nbsp;<%= answer.ttl %></td>
        <td>&nbsp;<%= answer.recordtype %></td>
        <td>&nbsp;<%= answer.ipaddress %></td>

     </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%end%>

 <hr style="margin-top: -60px!important;">
<div class="back">
<%= link_to questions_path ,class: "btn btn-primary" do%>
 <span class="fa fa-backward" aria-hidden="true"></span> Back
 <%end%>
</div>



<style >
.back
{
  margin-left: 10px;
  margin-top: -5px;
}

body{
  background-color: #FFFFFF;
}
 .main{
  margin-top: 70px;
 }
.table3 {
  margin-top: 10px;
  margin-bottom: 40px;
}
hr {
  border:none;
  
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #C0C0C0;
  box-shadow: 0 15px 15px -15px #C0C0C0;
  margin: -50px auto 10px; 
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: lightblue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 50px;
  border-radius: 0px;
}

#myBtn:hover {
  background-color: #2980b9;
}

h3 {
    font-style: bold!important;
}

.table1,.table2,.table3 {
    overflow:hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #888888;
    width: 100%;
    border-collapse: collapse;

}

th, td {
    
    padding: 8px;
}
.table1 th,.table2 th,.table3 th {
  background-color: #ea6153;
}
.table{
  box-shadow: 3px 3px 3px #888888;
}
.table th{
   background-color: #2980b9!important;
}
tr:nth-child(even){background-color: #E1E1E1}
tr:nth-child(odd){background-color: #ffffff}

.wrapper{
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}
.wrapper2{
  margin: 0 auto;
  padding: 10px;
  max-width: 1400px;

  
}

</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function PrintDiv() {    
           var divToPrint = document.getElementById('divToPrint');
           var popupWin = window.open('', '_blank', 'width=300,height=300');
           popupWin.document.open();
           popupWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</html>');
            popupWin.document.close();
                }
</script>
<script>


function myFunction() {
    var x = document.getElementById('recordtype');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
////////////////////
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

</script>
