
<!-- Include Required Prerequisites -->

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script>    
Highcharts.setOptions({
        global: {
            timezoneOffset: -8 * 60
        }
    });
</script>
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<div class="main">
<div class="graph">
<button onclick="topFunction()" id="myBtn" title="Go to top"><span class="fa fa-angle-double-up"></span></button>

<div class="timeline">

</div>

<hr class="line2">
<div class="graph">
<p style="margin-left: 10px;"><%= select_tag "typ", "<option value='today'>Today</option><option value='week'>This Week</option><option value='month'>This Month</option><option value='yesterday'>Yesterday</option><option value='pastweek'>Previous Week</option><option value='pastmonth'>Previous Month</option>".html_safe, include_blank: true %></p> 
<span> or by date </span>


<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" /></p>

</div>
<hr>


<% if params[:start]!=nil  && params[:end]!=nil%>
<% if params[:start]==params[:end] %>
<div class="title">
<h1 style="margin-left: 440px; font-family: Media Gothic; "><b><%= params[:start] %> Performances</b></h1>
</div>
<%else%>
<div class="title">
<h1 style="margin-left: 350px; font-family: Media Gothic;"><b><%= params[:start] %> to <%= params[:end] %> Performances</b></h1>
</div>
<%end%>

  <%= area_chart @performance.group(:created_at).where('created_at >=?',params[:start].in_time_zone('Kuala Lumpur')).where('created_at <=?',params[:end].in_time_zone('Kuala Lumpur')+1.day).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time (milisecond)",title: 'Daily Performances', label: "Response Time(msec)", 
    colors: ['#9CCB19'], library: {chart: {zoomType: 'x'}}%> 
       <h6 style="text-align: center; font-family: Helvetica !important;">DNS Query Response Time for <span><b><%= @question.dnsname %></b> </span></h6>
<%end%>



<%if params[:typ]!="week" && params[:typ]!="today" && params[:typ]!="month" && params[:typ]!="stop" && params[:typ]!="yesterday" && params[:typ]!="pastweek" && params[:typ]!="pastmonth" && params[:start]==nil && params[:end]==nil%>
<div class="title">
 <h1 style="text-align: center; font-family: Media Gothic;"><b>Today Performances</b></h1>
 </div>
  <%= area_chart @performance.group(:created_at).where('created_at >=?',Date.today.in_time_zone('Kuala Lumpur')).where('created_at <=?',(Date.today+1.day).in_time_zone('Kuala Lumpur')).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time (milisecond)",title: 'Daily Performances',label: "Response Time(msec)",
    colors: ['#8E2323'], library: {chart: {zoomType: 'x'}}%> 
     <h6 style="text-align: center; font-family: Helvetica !important;">DNS Query Response Time for <span><b><%= @question.dnsname %></b> </span></h6>

<%end%>

<% if params[:typ]=="week" %>
<div class="title">
<h1 style="text-align: center; font-family: Media Gothic;"><b>This Week Performances</b></h1>
</div>
 <%= area_chart @performance.group_by_day(:created_at,last: 7,time_zone: "Kuala Lumpur").average(:responsetime) , xtitle: "Created at", ytitle: "Response Time (milisecond)",
 title: 'Weekly Performances',label: "Response Time(msec)",
    colors: ['#CCCC99'], library: {chart: {zoomType: 'x'}}%>
       <h6 style="text-align: center; font-family: Helvetica !important;">DNS Query Response Time for <span><b><%= @question.dnsname %></b> </span></h6>

<%end%>

<% if params[:typ]=="month" %>
<div class="title">
<h1 style="text-align: center; font-family: Media Gothic;"><b>This Month Performances</b></h1>
</div>
 <%= area_chart @performance.group_by_week(:created_at, last: 4,time_zone: "Kuala Lumpur").average(:responsetime), xtitle: "Created at", ytitle: "Response Time (milisecond)",
 title: 'Monthly Performances',label: "Response Time(msec)",
    colors: ['#FFCC99'], library: {chart: {zoomType: 'x'} } %>
      <h6 style="text-align: center; font-family: Helvetica !important;">DNS Query Response Time for <span><b><%= @question.dnsname %></b> </span></h6>

<%end%>

<% if params[:typ]=="today" %>
<div class="title">
 <h1 style="text-align: center; font-family: Media Gothic;"><b>Today Performances</b></h1>
 </div>



 <%= area_chart @performance.group(:created_at).where('created_at >=?',Date.today.in_time_zone('Kuala Lumpur')).where('created_at <=?',(Date.today+1.day).in_time_zone('Kuala Lumpur')).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time (milisecond)",title: 'Daily Performances',label: "Response Time(msec)",
    colors: ['#8E2323'], library: {chart: {zoomType: 'x'}}%>
    <h6 style="text-align: center; font-family: Helvetica !important;">DNS Query Response Time for <span><b><%= @question.dnsname %></b> </span></h6>

<%end%>

<% if params[:typ]=="yesterday" %>
<div class="title">
<h1 style="text-align: center; font-family: Media Gothic;"><b>Yesterday Performances</b></h1>
</div>

 <%= area_chart @performance.group(:created_at).where('created_at >=?',Date.yesterday.in_time_zone('Kuala Lumpur')).where('created_at <?',Date.today.in_time_zone('Kuala Lumpur')).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time (milisecond)",title: 'Daily Performances',label: "Response Time(msec)",
    colors: ['#FF7755'], library: {chart: {zoomType: 'x'}}%> 
       <h6 style="text-align: center; font-family: Helvetica !important;">DNS Query Response Time for <span><b><%= @question.dnsname %></b> </span></h6>

 <%end%>

<% if params[:typ]=="pastweek" %>
<div class="title">
<h1 style="text-align: center; font-family: Media Gothic;"><b>Last Week Performances</b></h1>
</div>
<%= area_chart @performance.group_by_day(:created_at,time_zone: "Kuala Lumpur").where('created_at <=?',6.day.ago).where('created_at >=?',14.day.ago).average(:responsetime) , xtitle: "Created at", ytitle: "Response Time (milisecond)",label: "Response Time(msec)",
 title: 'Weekly Performances',
    colors: ['#97694F'], library: {chart: {zoomType: 'x'} }%>
      <h6 style="text-align: center; font-family: Helvetica !important;">DNS Query Response Time for <span><b><%= @question.dnsname %></b> </span></h6>

<%end%>

<% if params[:typ]=="pastmonth" %>
<div class="title">
<h1 style="text-align: center; font-family: Media Gothic;"><b>Last Month Performances</b></h1>
</div>
<%= area_chart @performance.group_by_week(:created_at, time_zone: "Kuala Lumpur").where('created_at <=?',30.day.ago).where('created_at >=?',60.day.ago).average(:responsetime), xtitle: "Created at", ytitle: "Response Time (milisecond)",
 title: 'Monthly Performances',label: "Response Time(msec)",
    colors: ['#8B8682'], library: {chart: {zoomType: 'x'} } %>
       <h6 style="text-align: center; font-family: Helvetica !important;">DNS Query Response Time for <span><b><%= @question.dnsname %></b> </span></h6>

<%end%>
</div>     

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<p id="notice"><%= notice %></p>
<% if @average==" " %>
<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table1">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= question.recordtype %></td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">
<%else%>
<% if params[:typ]!="today" && params[:typ]!="week"  && params[:typ]!="month" && params[:typ]!="yesterday" && params[:typ]!="pastweek" && params[:typ]!="pastmonth" && params[:start]==nil  && params[:end]==nil %>
<% if @todayTotal==0 %>

<div class="wrapper3">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table2">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
         <td ><%= @question.recordtype %></td>
        <td >&nbsp;<%= @todayTotal.round(2) %>&nbsp;msec</td>
        <td >&nbsp;<%= @todayTotal.round(2) %>&nbsp;msec</td>
        <td >&nbsp;<%= @todayTotal.round(2) %>&nbsp;msec</td>
        <td >&nbsp;<%= @todayTotal %></td>
        <td >&nbsp;<%= @todayTotal %></td>
        <td >&nbsp;<%= @todayTotal %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">
<div class="donutchart">
<div id="chart-container0"></div>
</div>
<%else%>
<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table2">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td >&nbsp;<%= @todayAV.round(2) %>&nbsp;msec</td>
        <td >&nbsp;<%= @todayHigh.round(2) %>&nbsp;msec</td>
        <td >&nbsp;<%= @todayLow.round(2) %>&nbsp;msec</td>
        <td >&nbsp;<%= @todayTotal %></td>
        <td >&nbsp;<%= @todayFail %></td>
        <td >&nbsp;<%= @availability %>%</td>
       
        </tr>
  </tbody>
</table>
</div>

<hr class="line">


<%end%>
<%end%>



<% if params[:start]!=nil  && params[:end]!=nil%>
<% total=0 %>
<% maximum=0%>
<% minimum=100 %>
<% a=0 %>
<% @performance.group(:created_at).where('created_at >=?',params[:start].in_time_zone('Kuala Lumpur')).where('created_at <=?',params[:end].in_time_zone('Kuala Lumpur')+1.day).sum(:responsetime).each do |f| %>
<% a=a+1%>
<% total=total+f[1] %>
<%if maximum<f[1] %>
<% maximum=f[1] %>
<%end%>
<% if minimum>f[1] %>
<% minimum=f[1] %>
<%end%>
<%end%>
<% b=0 %>
<% @performance.group(:created_at).where(responsetime: -1 ).where('created_at >=?',params[:start].in_time_zone('Kuala Lumpur')).where('created_at <=?',(Date.today+1.day).in_time_zone('Kuala Lumpur')).sum(:responsetime).each do |f| %> 
<% b=b+1%>
<%end%>

<% if a==0 %>
<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table3">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= a.round(2) %>&nbsp;msec</td>
        <td ><%= a.round(2) %>&nbsp;msec</td>
        <td ><%= a.round(2) %>&nbsp;msec</td>
        <td ><%= a %></td>
        <td ><%= a %></td>
        <td ><%= @a %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">
<%else %>
<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table3">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= (total.round(2)/a.round(2)).round(2) %>&nbsp;msec</td>
        <td ><%= maximum.round(2) %>&nbsp;msec</td>
        <td ><%= minimum.round(2) %>&nbsp;msec</td>
        <td ><%= a %></td>
        <td ><%= b %></td>
        <td ><%= ((a-b)/a)*100 %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">
<%end%>
<%end%>



<% if params[:typ]=="yesterday" %>

<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table4">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= @yesterdayAV.round(2) %>&nbsp;msec</td>
        <td ><%= @yesterdayHigh.round(2) %>&nbsp;msec</td>
        <td ><%= @yesterdayLow.round(2) %>&nbsp;msec</td>
        <td ><%= @yesterdayTotal %></td>
        <td ><%= @yesterdayFail %></td>
        <td ><%= @yesterdayAvai %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">

<%end%>
<% if params[:typ]=="pastweek" %>
<% total=0 %>
<% maximum=0%>
<% minimum=100 %>
<% a=0 %>
<% @performance.group_by_day(:created_at).where('created_at <=?',6.day.ago).where('created_at >=?',14.day.ago).average(:responsetime).each do |f| %>
<% a=a+1%>
<% total=total+f[1] %>
<%if maximum<f[1] %>
<% maximum=f[1] %>
<%end%>
<% if minimum>f[1] %>
<% minimum=f[1] %>
<%end%>
<%end%>

<% if a==0 %>
<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table5">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= a.round(2) %>&nbsp;msec</td>
        <td ><%= a.round(2) %>&nbsp;msec</td>
        <td ><%= a.round(2) %>&nbsp;msec</td>
        <td ><%= a %></td>
        <td ><%= a %></td>
        <td ><%= a %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">
<%else%>
<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table5">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= (total/4).round(2) %>&nbsp;msec</td>
        <td ><%= maximum.round(2) %>&nbsp;msec</td>
        <td ><%= minimum.round(2) %>&nbsp;msec</td>
        <td ><%= @pastTotal %></td>
        <td ><%= @pastFail %></td>
        <td ><%= @pastAvai %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">

<%end%>

<%end%>
<% if params[:typ]=="pastmonth" %>
<% total=0 %>
<% maximum=0%>
<% minimum=100 %>
<% a=0 %>
<% @performance.group_by_week(:created_at, last: 4, time_zone: "Kuala Lumpur").where('created_at <=?',30.day.ago).where('created_at >=?',60.day.ago).average(:responsetime).each do |f| %>
<% a=a+1%>
<% total=total+f[1] %>
<%if maximum<f[1] %>
<% maximum=f[1] %>
<%end%>
<% if minimum>f[1] %>
<% minimum=f[1] %>
<%end%>
<%end%>

<% if a!=0 %>
<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table6">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= (total/a).round(2) %>&nbsp;msec</td>
        <td ><%= maximum.round(2) %>&nbsp;msec</td>
        <td ><%= minimum.round(2) %>&nbsp;msec</td>
        <td ><%= @pastmonthTotal %></td>
        <td ><%= @pastmonthFail %></td>
        <td ><%= @pastmonthAV  %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">
<%else%>

<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table6">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= a.round(2) %>&nbsp;msec</td>
        <td ><%= a.round(2) %>&nbsp;msec</td>
        <td ><%= a.round(2) %>&nbsp;msec</td>
        <td ><%= a %></td>
        <td ><%= a %></td>
        <td ><%= a  %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">
<%end%>


<%end%>
<% if params[:typ]=="today" %>
<% if @todayTotal==0 %>

<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table2">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= @todayTotal %>&nbsp;msec</td>
        <td ><%= @todayTotal %>&nbsp;msec</td>
        <td ><%= @todayTotal %>&nbsp;msec</td>
        <td ><%= @todayTotal %></td>
        <td ><%= @todayTotal %></td>
        <td ><%= @todayTotal %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">
<%else%>

<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table2">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>


  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= @todayAV.round(2) %>&nbsp;msec</td>
        <td ><%= @todayHigh.round(2) %>&nbsp;msec</td>
        <td ><%= @todayLow.round(2) %>&nbsp;msec</td>
        <td ><%= @todayTotal %></td>
        <td ><%= @todayFail %></td>
        <td ><%= @availability %>%</td>
   
        </tr>
  </tbody>
</table>
</div>
<hr class="line">
<%end%>



<%end%>
<% if params[:typ]=="week" %>

<% total=0 %>
<% maximum=1 %>
<% minimum=100 %>
<% b=0 %>
<% @performance.group_by_day(:created_at,last: 7,time_zone: "Kuala Lumpur").average(:responsetime).each do |a| %>
<% total=total+a[1] %>
<%if a[1]>0 %>
<%b=b+1 %>
<%end%>
<% if maximum<a[1] %>
<% maximum=a[1] %>
<%end%>
<% if minimum>a[1] %>
<% minimum=a[1] %>
<%end%>
<%end%>
<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table8">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>

      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= (total.round(2)/b.round(2)).round(2) %>&nbsp;msec</td>
        <td ><%= maximum.round(2) %>&nbsp;msec</td>
        <td ><%= minimum.round(2) %>&nbsp;msec</td>
        <td ><%= @weeksuccess %></td>
        <td ><%= @weekfail %></td>
        <td ><%= @availability %>%</td>
   
        </tr>
  </tbody>
</table>
</div>

<hr>
<%end%>
<% if params[:typ]=="month" %>

<% total=0 %>
<% maximum=1 %>
<% minimum=100 %>
<% @performance.group_by_week(:created_at, last: 4, time_zone: "Kuala Lumpur").average(:responsetime).each do |a| %>
<% total=total+a[1] %>
<% if maximum<a[1] %>
<% maximum=a[1] %>
<%end%>
<% if minimum>a[1] %>
<% minimum=a[1] %>
<%end%>
<%end%>
<div class="wrapper2">
<table align="center" style="text-align: center; margin-top: -10px; overflow: hidden;
  border-radius: 5px;" class="table9">
  <thead>
    <tr>
      <th style="text-align: center">&nbsp;Record Type&nbsp;</th>
      <th style="text-align: center">&nbsp;Average&nbsp;</th>
      <th style="text-align: center">Highest&nbsp;</th>
      <th style="text-align: center">Lowest&nbsp;</th>
      <th style="text-align: center">Total Query&nbsp;</th>
      <th style="text-align: center">Total Fail&nbsp;</th>
      <th style="text-align: center">Availability&nbsp;</th>
   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td ><%= @question.recordtype %></td>
        <td ><%= (total/4).round(2)%>&nbsp;msec</td>
        <td ><%= maximum.round(2)  %>&nbsp;msec</td>
        <td ><%= minimum.round(2) %>&nbsp;msec</td>
        <td ><%= @monthsuccess %></td>
        <td ><%= @monthfail %></td>
        <td ><%= @monthAvailability %>%</td>
   
        </tr>
  </tbody>
</table>
</div>

<hr class="line">
<%end%>
<%end%>



<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>


</div>



<% if params[:typ]=="today" %>
<div class="donutchart">
   <div id="chart-container1"></div>
   
</div>
<%end%>
<% if params[:typ]=="week" %>
<div class="graph2">
   <div id="chart-container2"></div>
   <div id="chart-container3"></div>
   <div id="chart-container4"></div>
   <div id="chart-container5"></div>
   <div id="chart-container6"></div>
   <div id="chart-container7"></div>
   <div id="chart-container8"></div>
</div>
<%end%>
<% if params[:typ]=="month" %>
<div class="graph3">
   <div id="chart-container9"></div>
   <div id="chart-container10"></div>
   <div id="chart-container11"></div>
   <div id="chart-container12"></div>
</div>
<%end%>

<% if params[:typ]=="yesterday" %>
<div class="donutchart">
<div id="chart-container13" ></div>
</div>
<%end%>

<% if params[:typ]=="pastweek" %>
<div class="graph2">
<div id="chart-container14" ></div>
<div id="chart-container15" ></div>
<div id="chart-container16" ></div>
<div id="chart-container17" ></div>
<div id="chart-container18" ></div>
<div id="chart-container19" ></div>
<div id="chart-container20" ></div>
</div>


</div>
<%end%>

<% if params[:typ]=="pastmonth" %>
<div class="graph6">


</div>
<%end%>


<head>
<style>
h6{
  font-style: 'Helvetica' !important;
}


.table1 td,.table2 td,.table3 td,.table4 td,.table5 td,.table6 td,.table7 td,.table8 td ,.table9 td {
  border-right: 1px solid #bdc3c7 !important ;
}
.table1 th{
   background-color: #bdc3c7!important;
 }
 .table2 th{
  border-right: 1px solid #bdc3c7 !important ;
   background-color: #8E2323!important;
 }
 .table3 th{
  border-right: 1px solid #bdc3c7 !important ;
   background-color: #9CCB19!important;
 }
 .table4 th{
  border-right: 1px solid #bdc3c7 !important ;
   background-color: #FF7755!important;
 }
 .table5 th{
  border-right: 1px solid #bdc3c7 !important ;
   background-color: #97694F!important;
 }
 .table6 th{
  border-right: 1px solid #bdc3c7 !important ;
   background-color: #8B8682!important;
 }
 .table7 th{
  border-right: 1px solid #bdc3c7 !important ;
   background-color: #2980b9!important;
 }
 .table8 th{
  border-right: 1px solid #bdc3c7 !important ;
   background-color: #CCCC99!important;
 }
 .table9 th{
  border-right: 1px solid #bdc3c7 !important ;
   background-color: #FFCC99!important;
 }

.table1,.table2,.table3,.table4,.table5,.table6,.table7,.table8,.table9
{
  overflow:hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #888888;
    width: 80%;
    border-collapse: collapse;
}

.info{
  text-align: center;
}
   p{
    display: inline-block;
 
}
.performance{
  box-shadow: 0 15px 20px -15px #C0C0C0;
}
.title{

  box-shadow: 0 15px 20px -15px #C0C0C0;
}
.line {
  border:none;
 
  margin-top: -30px!important;
  border-bottom: 1px solid #C0C0C0;
  box-shadow: 0 5px 15px -15px #C0C0C0;
}

.line2 {
  border:none;
  
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #C0C0C0;
  box-shadow: 0 -15px 5px -15px #C0C0C0;
  margin: -50px auto 10px; 
}


.graph p{
  display: inline-block;
}
.graph2 div{
  display: inline-block;
}
.graph3 div{
  display: inline-block;
  margin-left: 20px;
}
.graph4 div{
  display: inline-block;
}
hr {
  border:none;
  
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #C0C0C0;
  box-shadow: 0 15px 15px -15px #C0C0C0;
  margin: -50px auto 10px; 
}

.main{
 margin-top: 70px;
}

.donutchart {
  vertical-align:middle!important; 
  text-align:center!important;
  display: block!important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: lightblue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 50px;
  border-radius: 0px;
}

#myBtn:hover {
  background-color: #2980b9;
  height: 70px;
}

.page {
   margin-left: 10px;
  margin-bottom: 400px;
}
body
{
  background-color: #FFFFFF;
}
</style>
</head>

<hr > 

<div class="performance">
<h1>Performances</h1>
</div>

<table>
  <thead>
    <tr>
      <th>No.&nbsp;</th>
      <th>Response Time(Milisecond)&nbsp;</th>
      <th>Date Time&nbsp;</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td><% @total %></td>
  </tr>
   <% b=0%>
    <% @performances.each do |performance| %>
      <tr>
      
      <% if @question.id==performance.question_id %>
        <td><%= b=b+1 %>.</td>
        <td><%= performance.responsetime %>&nbsp;</td>
        <td><%= performance.created_at.in_time_zone('Kuala Lumpur').strftime("%d/%m/%y ""%I:%M %p" )%>&nbsp;</td>
        <% a=performance.responsetime %>

        <script>
      

        </script>
       
        <%end%>
      </tr>
      <% @total %>
    <% end %>
  </tbody>
</table>

<br>
<div class="page"> 
<%= will_paginate @performances , class:"Page navigation example" %>

<%= link_to questions_path ,class: "btn btn-primary" do %>
<span class="fa fa-backward"></span> back
<%end%>

</div>
<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
///////////////////////////


$('input[name="daterange"]').daterangepicker(
{
    locale: {
      format: 'YYYY-MM-DD'
    },
    startDate:'2017-07-01',
    endDate: '2017-8-31'

}, 
function(start, end, label) {
    alert("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') );
    window.location.href = "/questions/" + "<%= @question.id %>"+"/performances?start=" + start.format('YYYY-MM-DD') + "&end=" + end.format('YYYY-MM-DD')
});

//////////////////////////////////////////////


$( "#typ" ).change("turbolinks:load",function() {
  
  Turbolinks.visit("?typ="+ this.value);
});
////////////////////////////////////////
Highcharts.chart('container0', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Today'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Success',
            y: <%= @success1%>
        }, {
            name: 'Fail',
            y: <%= @fail1 %>,
            sliced: true,
            selected: true
        }]
    }]
});



</script>

<script type="text/javascript">

 FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container0',
    width: '450',
    height: '450',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Today",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
           
            "startingAngle": "310",
            "showLabels": "0",
          
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @todayAvai.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
           
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }, {
            "label": "Fail",
            "value": <%= @todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});

/////////TODAY////////////////
   FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container1',
    width: '450',
    height: '450',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Today",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
           
            "startingAngle": "310",
            "showLabels": "0",
          
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @todayAvai.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
           
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }, {
            "label": "Fail",
            "value": <%= @todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});

///////WEEKLY/////
/////today//////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container2',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Today",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status1.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }, {
            "label": "Fail",
            "value": <%= @todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 6///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container3',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 2",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status2.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success2-@fail2 %>
        }, {
            "label": "Fail",
            "value": <%= @fail2 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 5///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container4',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 3",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status3.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success3-@fail3 %>
        }, {
            "label": "Fail",
            "value": <%= @fail3 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 4///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container5',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 4",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status4.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success4-@fail4 %>
        }, {
            "label": "Fail",
            "value": <%= @fail4 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 3///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container6',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 5",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
       
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status5.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success5-@fail5 %>
        }, {
            "label": "Fail",
            "value": <%= @fail5 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 2///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container7',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 6",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status6.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success6-@fail6 %>
        }, {
            "label": "Fail",
            "value": <%= @fail6 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 1///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container8',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 7",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status7.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success7-@fail7 %>
        }, {
            "label": "Fail",
            "value": <%= @fail7 %>
        }]
    }
}
);
    fusioncharts.render();
});


/////MONTH/////////
//////this week////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container9',
    width: '500',
    height: '500',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Week 1",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status8.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @total[3]-@total2[3] %>
        }, {
            "label": "Fail",
            "value": <%= @total2[3] %>
        }]
    }
}
);
    fusioncharts.render();
});
/////week3////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container10',
    width: '500',
    height: '500',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Week 2",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status9.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @total[2]-@total2[2] %>
        }, {
            "label": "Fail",
            "value": <%= @total2[2]%>
        }]
    }
}
);
    fusioncharts.render();
});
/////week2/////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container11',
    width: '500',
    height: '500',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Week 3",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
          
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status10.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @total[1]-@total2[1] %>
        }, {
            "label": "Fail",
            "value": <%= @total2[1] %>
        }]
    }
}
);
    fusioncharts.render();
});
/////week1//////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container12',
    width: '500',
    height: '500',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Week 4",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status11.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @total[0]-@total2[0] %>
        }, {
            "label": "Fail",
            "value": <%= @total2[0] %>
        }]
    }
}
);
    fusioncharts.render();
});

//////yesterday/////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container13',
    width: '450',
    height: '400',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Yesterday",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @yesterdayAvai.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @yesterdayTotal-@yesterdayFail %>
        }, {
            "label": "Fail",
            "value": <%= @yesterdayFail %>
        }]
    }
}
);
    fusioncharts.render();
});



//////PASTWEEK////
/////day1////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container14',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 1",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai1.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal1-@pastFail1 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail1 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day2//////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container15',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 2",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
      
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai2.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal2-@pastFail2 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail2 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day3////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container16',
     width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 3",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai3.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal3-@pastFail3 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail3 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day4////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container17',
   width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 4",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai4.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal4-@pastFail4 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail4 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day5//////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container18',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 5",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
       
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai5.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal5-@pastFail5 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail5 %>
        }]
    }
}
);
    fusioncharts.render();
});

////day6///
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container19',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 6",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
         
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai6.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal6-@pastFail6 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail6 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day7///
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container20',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 7",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
        
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai7.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal7-@pastFail7 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail7 %>
        }]
    }
}
);
    fusioncharts.render();
});

/////date////


</script>
