
<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<div class="main">
<div class="graph">


<div class="timeline">

</div>


<div class="graph">
<p><%= select_tag "typ", "<option value='today'>Today</option><option value='week'>This Week</option><option value='month'>This Month</option>".html_safe, include_blank: true %></p>
<p><%= select_tag "typ1", "<option value='yesterday'>Yesterday</option><option value='pastweek'>Previous Week</option><option value='pastmonth'>Previous Month</option>".html_safe, include_blank: true %></p>
<p>

<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" /></p>

</div>


<% if params[:start]!=nil  && params[:end]!=nil%>
  <%= area_chart @performance.group(:created_at).where('created_at >=?',params[:start].to_datetime).where('created_at <=?',params[:end].to_datetime+1.day).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",title: 'Daily Performances',
    colors: ['#99FFCC'], library: {chart: {zoomType: 'x'}}%> 
<%end%>



<%if params[:typ]!="week" && params[:typ]!="today" && params[:typ]!="month" && params[:typ]!="stop" && params[:typ1]!="yesterday" && params[:typ1]!="pastweek" && params[:typ1]!="pastmonth" && params[:start]==nil && params[:end]==nil%>

  <%= area_chart @performance.group(:created_at).where('created_at >=?',DateTime.now.beginning_of_day).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time",title: 'Daily Performances',colors: ['green'], library: {chart: {zoomType: 'x'} }%> 
<%end%>

<% if params[:typ]=="week" %>
 <%= area_chart @performance.group_by_day(:created_at,last: 7).average(:responsetime) , xtitle: "Created at", ytitle: "Response Time(ms)",
 title: 'Weekly Performances',
    colors: ['#CCCC99'], library: {chart: {zoomType: 'x'}}%>
<%end%>

<% if params[:typ]=="month" %>
 <%= area_chart @performance.group_by_week(:created_at, last: 4, time_zone: "Kuala Lumpur").average(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",
 title: 'Monthly Performances',
    colors: ['#FFCC99'], library: {chart: {zoomType: 'x'} } %>
<%end%>

<% if params[:typ]=="today" %>
 <%= area_chart @performance.group(:created_at).where('created_at >=?',DateTime.now.beginning_of_day).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",title: 'Daily Performances', 
    colors: ['#8E2323'], library: {chart: {zoomType: 'x'}}%> 
<%end%>

<% if params[:typ1]=="yesterday" %>
 <%= area_chart @performance.group(:created_at).where('created_at >=?',DateTime.yesterday.beginning_of_day).where('created_at <=?',DateTime.now.beginning_of_day).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",title: 'Daily Performances',
    colors: ['green'], library: {chart: {zoomType: 'x'}}%> 
 <%end%>

<% if params[:typ1]=="pastweek" %>
<%= area_chart @performance.group_by_day(:created_at).where('created_at <=?',6.day.ago).where('created_at >=?',14.day.ago).average(:responsetime) , xtitle: "Created at", ytitle: "Response Time(ms)",
 title: 'Weekly Performances',
    colors: ['blue'], library: {chart: {zoomType: 'x'} }%>
<%end%>

<% if params[:typ1]=="pastmonth" %>
<%= area_chart @performance.group_by_week(:created_at, last: 4, time_zone: "Kuala Lumpur").where('created_at <=?',30.day.ago).average(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",
 title: 'Monthly Performances',
    colors: ['red'], library: {chart: {zoomType: 'x'} } %>
<%end%>
</div>     

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>



<p id="notice"><%= notice %></p>
<% if @average==" " %>

<p><strong><span>Average : </span></strong>-</p> 
<p><strong><span>Highest  :</span></strong>-</p> 
<p><strong><span>Lowest :</span></strong>-</p>
<hr>
<p><strong><span>Total Query :</span></strong>-</p>
<p><strong><span>Total Fail :</span></strong>-</p>
<p><strong><span>Availability Status :</span>-</strong></p>
<%else%>
<% if params[:typ]!="today" && params[:typ]!="week"  && params[:typ]!="month" && params[:typ1]!="yesterday"%>
<p><strong><span>Average : </span></strong><%= @average.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @highest.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @lowest.round(2) %>&nbsp;msec</p>
<hr>
<p><strong><span>Total Query :</span></strong><%= @success1 %></p>
<p><strong><span>Total Fail :</span></strong><%= @unavailable %></p>
<p><strong><span>Availability Status :</span></strong><%= @availability %>%</p>
<%end%>
<% if params[:typ1]=="yesterday" %>


<p><strong><span>Average : </span></strong><%= @yesterdayAV.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @yesterdayHigh.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @yesterdayLow.round(2) %>&nbsp;msec</p>
<hr>
<p><strong><span>Total Query :</span></strong><%= @yesterdayTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @yesterdayFail %></p>
<p><strong><span>Availability Status :</span></strong><%= @yesterdayAvai %>%</p>


<%end%>
<% if params[:typ]=="pastweek" %>
<p><strong><span>Average : </span></strong><%= @pastAV.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @pastHigh.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @pastLow.round(2) %>&nbsp;msec</p>
<hr>
<p><strong><span>Total Query :</span></strong><%= @pastTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @pastFail %></p>
<p><strong><span>Availability Status :</span></strong><%= @pastAvai %>%</p>


<%end%>
<% if params[:typ]=="pastmonth" %>
<p><strong><span>Average : </span></strong><%= @average.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @highest.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @lowest.round(2) %>&nbsp;msec</p>
<hr>
<p><strong><span>Total Query :</span></strong><%= @success1 %></p>
<p><strong><span>Total Fail :</span></strong><%= @unavailable %></p>
<p><strong><span>Availability Status :</span></strong><%= @availability %>%</p>


<%end%>
<% if params[:typ]=="today" %>
<p><strong><span>Average : </span></strong><%= @todayAV.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @todayHigh.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @todayLow.round(2) %>&nbsp;msec</p>
<hr>
<p><strong><span>Total Query :</span></strong><%= @todayTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @todayFail %></p>
<p><strong><span>Availability Status :</span></strong><%= @availability %>%</p>


<%end%>
<% if params[:typ]=="week" %>

<% total=0 %>
<% maximum=1 %>
<% minimum=1 %>
<% @performance.group_by_day(:created_at,last: 7).average(:responsetime).each do |a| %>
<% total=total+a[1] %>
<% if maximum<a[1] %>
<% maximum=a[1] %>
<%end%>
<% if minimum>a[1] %>
<% minimum=a[1] %>
<%end%>
<%end%>
<p><strong><span>Average : </span></strong><%= (total/7).round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= maximum.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= minimum.round(2) %>&nbsp;msec</p>
<hr>
<p><strong><span>Total Query :</span></strong><%= @weeksuccess %></p>
<p><strong><span>Total Fail :</span></strong><%= @weekfail %></p>
<p><strong><span>Availability Status :</span></strong><%= @availability %>%</p>
<%end%>
<% if params[:typ]=="month" %>

<% total=0 %>
<% maximum=1 %>
<% minimum=1 %>
<% @performance.group_by_week(:created_at, last: 4, time_zone: "Kuala Lumpur").average(:responsetime).each do |a| %>
<% total=total+a[1] %>
<% if maximum<a[1] %>
<% maximum=a[1] %>
<%end%>
<% if minimum>a[1] %>
<% minimum=a[1] %>
<%end%>
<%end%>

<p><strong><span>Average : </span></strong><%= (total/4).round(2)%>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= maximum.round(2)  %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= minimum.round(2) %>&nbsp;msec</p>
<hr>
<p><strong><span>Total Query :</span></strong><%= @monthsuccess.round(2) %></p>
<p><strong><span>Total Fail :</span></strong><%= @monthfail %></p>
<p><strong><span>Availability Status :</span></strong><%= @monthAvailability %>%</p>
<%end%>
<%end%>



<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>


<% if params[:typ]=="today" %>
<div class="donutchart">
<div id="chart-container">FusionCharts XT will load here!</div>
</div>
<%end%>
<% if params[:typ]=="week" %>
<div class="graph2">
<div id="chart-container2" ></div>
<div id="chart-container3" ></div>
<div id="chart-container4" ></div>
<div id="chart-container5" ></div>
<div id="chart-container6" ></div>
<div id="chart-container7" ></div>
<div id="chart-container8" ></div>

</div>
<%end%>
<% if params[:typ]=="month" %>
<div class="graph3">

<div id="chart-container9" ></div>
<div id="chart-container10" ></div>
<div id="chart-container11" ></div>
<div id="chart-container12" ></div>
</div>
<%end%>


<head>
<style>

.graph p{
  display: inline-block;
}
.graph2 div{
  display: inline-block;
}
.graph3 div{
  display: inline-block;
  margin-left: 20px;
}
hr {
  border:none;
  
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #C0C0C0;
  box-shadow: 0 15px 15px -15px #C0C0C0;
  margin: -50px auto 10px; 
}

.main{
 margin-top: 70px;
}

.donutchart {
  vertical-align:middle!important; 
  text-align:center!important;
  display: block!important;
}
</style>
</head>

<hr > 

<h1>Performances</h1>

<table>
  <thead>
    <tr>
      <th>No.&nbsp;</th>
      <th>Response Time(Milisecond)&nbsp;</th>
      <th>Date Time&nbsp;</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td><% @total %></td>
  </tr>
   <% b=0%>
    <% @performances.each do |performance| %>
      <tr>
      
      <% if @question.id==performance.question_id %>
        <td><%= b=b+1 %>.</td>
        <td><%= performance.responsetime %>&nbsp;</td>
        <td><%= performance.created_at.localtime.strftime("%d/%m/%y ""%I:%M %p" )%>&nbsp;</td>
        <% a=performance.responsetime %>

        <script>
      

        </script>
       
        <%end%>
      </tr>
      <% @total %>
    <% end %>
  </tbody>
</table>

<br>
 
<%= will_paginate @performances %>
<%= link_to 'Back', questions_path %>
<script>

$('input[name="daterange"]').daterangepicker(
{
    locale: {
      format: 'YYYY-MM-DD'
    },
    startDate:'2017-07-01',
    endDate: '2017-8-31'

}, 
function(start, end, label) {
    alert("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') );
    window.location.href = "/questions/" + "<%= @question.id %>"+"/performances?start=" + start.format('YYYY-MM-DD') + "&end=" + end.format('YYYY-MM-DD')
});




$( "#typ" ).change(function() {
  
  Turbolinks.visit("?typ="+ this.value);
});

$( "#typ1" ).change(function() {
  
  Turbolinks.visit("?typ1="+ this.value);
});
Highcharts.chart('container0', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Today'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Success',
            y: <%= @success1%>
        }, {
            name: 'Fail',
            y: <%= @fail1 %>,
            sliced: true,
            selected: true
        }]
    }]
});


</script>

<script type="text/javascript">

  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container',
    width: '500',
    height: '400',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Today",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "defaultCenterLabelSize": "20",
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});

  //////////////////////////////

  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container2',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Today",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});

  ///////////////////////
  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container3',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Day 2",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});

  ////////////////////

  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container4',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Day 3",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
  //////////////////
  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container5',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Day 4",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
  /////////////////////
  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container6',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Day 5",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
  //////////////
  
  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container7',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Day 6",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
///////////////////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container8',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Day 7",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
////////


//////

FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container9',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "This Week",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
/////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container10',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Week 2",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
//////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container11',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Week 3",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container12',
    width: '300',
    height: '300',
    textSize: '50',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "DNS Availability",
            "subCaption": "Week 4",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "10",
            "startingAngle": "310",
            "showLabels": "0",
            "showPercentValues": "1",
            "showLegend": "1",
            "defaultCenterLabel": <%= @availability%>,
            "centerLabel": "Total $label: $value",
            "centerLabelBold": "6",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Fail",
            "value": <%= @todayFail %>
        }, {
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
</script>
<style>

</style>
