
<!-- Include Required Prerequisites -->

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<div class="main">
<div class="graph">
<button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-eject"></span></button>

<div class="timeline">

</div>

<hr class="line2">
<div class="graph">
<p><%= select_tag "typ", "<option value='today'>Today</option><option value='week'>This Week</option><option value='month'>This Month</option>".html_safe, include_blank: true %></p>
<p><%= select_tag "typ1", "<option value='yesterday'>Yesterday</option><option value='pastweek'>Previous Week</option><option value='pastmonth'>Previous Month</option>".html_safe, include_blank: true %></p>
<p>

<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" /></p>

</div>
<hr>

<% if params[:start]!=nil  && params[:end]!=nil%>
<% if params[:start]==params[:end] %>
<div class="title">
<h1 style="margin-left: 440px; font-family: Media Gothic; "><b><%= params[:start] %> Performances</b></h1>
</div>
<%else%>
<div class="title">
<h1 style="margin-left: 350px; font-family: Media Gothic;"><b><%= params[:start] %> to <%= params[:end] %> Performances</b></h1>
</div>
<%end%>
  <%= area_chart @performance.group(:created_at).where('created_at >=?',params[:start].to_datetime).where('created_at <=?',params[:end].to_datetime+1.day).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",title: 'Daily Performances',
    colors: ['#9CCB19'], library: {chart: {zoomType: 'x'}}%> 
<%end%>



<%if params[:typ]!="week" && params[:typ]!="today" && params[:typ]!="month" && params[:typ]!="stop" && params[:typ1]!="yesterday" && params[:typ1]!="pastweek" && params[:typ1]!="pastmonth" && params[:start]==nil && params[:end]==nil%>
<div class="title">
 <h1 style="margin-left: 420px; font-family: Media Gothic;"><b>Today Performances</b></h1>
 </div>
  <%= area_chart @performance.group(:created_at).where('created_at >=?',DateTime.now.beginning_of_day.localtime).where('created_at <=?',DateTime.now.end_of_day.localtime).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time",title: 'Daily Performances',colors: ['#8E2323'], library: {chart: {zoomType: 'x'} }%> 
<%end%>

<% if params[:typ]=="week" %>
<div class="title">
<h1 style="margin-left: 420px; font-family: Media Gothic;"><b>This Week Performances</b></h1>
</div>
 <%= area_chart @performance.group_by_day(:created_at,last: 7).average(:responsetime) , xtitle: "Created at", ytitle: "Response Time(ms)",
 title: 'Weekly Performances',
    colors: ['#CCCC99'], library: {chart: {zoomType: 'x'}}%>
<%end%>

<% if params[:typ]=="month" %>
<div class="title">
<h1 style="margin-left: 420px; font-family: Media Gothic;"><b>This Month Performances</b></h1>
</div>
 <%= area_chart @performance.group_by_week(:created_at, last: 4).average(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",
 title: 'Monthly Performances',
    colors: ['#FFCC99'], library: {chart: {zoomType: 'x'} } %>
<%end%>

<% if params[:typ]=="today" %>
<div class="title">
 <h1 style="margin-left: 420px; font-family: Media Gothic;"><b>Today Performances</b></h1>
 </div>
 <%= area_chart @performance.group(:created_at).where('created_at >=?',DateTime.now.beginning_of_day.localtime).where('created_at <=?',DateTime.now.end_of_day.localtime).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",title: 'Daily Performances', 
    colors: ['#8E2323'], library: {chart: {zoomType: 'x'}}%>

<%end%>

<% if params[:typ1]=="yesterday" %>
<div class="title">
<h1 style="margin-left: 420px; font-family: Media Gothic;"><b>Yesterday Performances</b></h1>
</div>
 <%= area_chart @performance.group(:created_at).where('created_at >=?',DateTime.yesterday.beginning_of_day.localtime).where('created_at <?',DateTime.now.beginning_of_day.localtime).sum(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",title: 'Daily Performances',
    colors: ['#FF7755'], library: {chart: {zoomType: 'x'}}%> 
 <%end%>

<% if params[:typ1]=="pastweek" %>
<div class="title">
<h1 style="margin-left: 420px; font-family: Media Gothic;"><b>Last Week Performances</b></h1>
</div>
<%= area_chart @performance.group_by_day(:created_at).where('created_at <=?',6.day.ago).where('created_at >=?',14.day.ago).average(:responsetime) , xtitle: "Created at", ytitle: "Response Time(ms)",
 title: 'Weekly Performances',
    colors: ['#97694F'], library: {chart: {zoomType: 'x'} }%>
<%end%>

<% if params[:typ1]=="pastmonth" %>
<div class="title">
<h1 style="margin-left: 420px; font-family: Media Gothic;"><b>Last Month Performances</b></h1>
</div>
<%= area_chart @performance.group_by_week(:created_at, time_zone: "Kuala Lumpur").where('created_at <=?',30.day.ago).where('created_at >=?',60.day.ago).average(:responsetime), xtitle: "Created at", ytitle: "Response Time(ms)",
 title: 'Monthly Performances',
    colors: ['#8B8682'], library: {chart: {zoomType: 'x'} } %>
<%end%>
</div>     

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<p id="notice"><%= notice %></p>
<% if @average==" " %>

<p><strong><span>Average : </span></strong>-</p> 
<p><strong><span>Highest  :</span></strong>-</p> 
<p><strong><span>Lowest :</span></strong>-</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong>-</p>
<p><strong><span>Total Fail :</span></strong>-</p>
<p><strong><span>Availability Status :</span>-</strong></p>
<%else%>
<% if params[:typ]!="today" && params[:typ]!="week"  && params[:typ]!="month" && params[:typ1]!="yesterday" && params[:typ1]!="pastweek" && params[:typ1]!="pastmonth" && params[:start]==nil  && params[:end]==nil %>
<% if @todayTotal==0 %>
 <p><strong><span>Average : </span></strong><%= @todayTotal.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @todayTotal.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @todayTotal.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= @todayTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @todayTotal%></p>
<p><strong><span>Availability Status :</span></strong><%= @todayTotal %>%</p>
<div class="donutchart">
<div id="chart-container0"></div>
</div>
<%else%>
 <p><strong><span>Average : </span></strong><%= @todayAV.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @todayHigh.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @todayLow.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= @todayTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @todayFail %></p>
<p><strong><span>Availability Status :</span></strong><%= @availability %>%</p>
<div class="donutchart">
<div id="chart-container0"></div>
</div>
<%end%>
<%end%>



<% if params[:start]!=nil  && params[:end]!=nil%>
<% total=0 %>
<% maximum=0%>
<% minimum=100 %>
<% a=0 %>
<% @performance.group(:created_at).where('created_at >=?',params[:start].to_datetime).where('created_at <=?',params[:end].to_datetime+1.day).sum(:responsetime).each do |f| %>
<% a=a+1%>
<% total=total+f[1] %>
<%if maximum<f[1] %>
<% maximum=f[1] %>
<%end%>
<% if minimum>f[1] %>
<% minimum=f[1] %>
<%end%>
<%end%>
<% b=0 %>
<% @performance.group(:created_at).where(responsetime: -1 ).where('created_at >=?',params[:start].to_datetime).where('created_at <=?',params[:end].to_datetime+1.day).sum(:responsetime).each do |f| %> 
<% b=b+1%>
<%end%>

<% if a==0 %>
<p><strong><span>Average : </span></strong><%= a.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= a.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= a.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= a %></p>
<p><strong><span>Total Fail :</span></strong><%= a %></p>
<p><strong><span>Availability Status :</span></strong><%= @a %>%</p>
<%else %>
<p><strong><span>Average : </span></strong><%= (total.round(2)/a.round(2)).round(2) %>&nbsp;msec</p> 

<p><strong><span>Highest  :</span></strong><%= maximum.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= minimum.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= a %></p>
<p><strong><span>Total Fail :</span></strong><%= b %></p>
<p><strong><span>Availability Status :</span></strong><%= ((a-b)/a)*100 %>%</p>
<%end%>
<%end%>



<% if params[:typ1]=="yesterday" %>


<p><strong><span>Average : </span></strong><%= @yesterdayAV.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @yesterdayHigh.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @yesterdayLow.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= @yesterdayTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @yesterdayFail %></p>
<p><strong><span>Availability Status :</span></strong><%= @yesterdayAvai %>%</p>


<%end%>
<% if params[:typ1]=="pastweek" %>
<% total=0 %>
<% maximum=0%>
<% minimum=100 %>
<% a=0 %>
<% @performance.group_by_day(:created_at).where('created_at <=?',6.day.ago).where('created_at >=?',14.day.ago).average(:responsetime).each do |f| %>
<% a=a+1%>
<% total=total+f[1] %>
<%if maximum<f[1] %>
<% maximum=f[1] %>
<%end%>
<% if minimum>f[1] %>
<% minimum=f[1] %>
<%end%>
<%end%>

<% if a==0 %>

<p><strong><span>Average : </span></strong><%= a.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= a.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= a.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= a %></p>
<p><strong><span>Total Fail :</span></strong><%= a %></p>
<p><strong><span>Availability Status :</span></strong><%= a %>%</p>
<%else%>
<p><strong><span>Average : </span></strong><%= (total/4).round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= maximum.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= minimum.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= @pastTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @pastFail %></p>
<p><strong><span>Availability Status :</span></strong><%= @pastAvai %>%</p>

<%end%>

<%end%>
<% if params[:typ1]=="pastmonth" %>
<% total=0 %>
<% maximum=0%>
<% minimum=100 %>
<% a=0 %>
<% @performance.group_by_week(:created_at, last: 4, time_zone: "Kuala Lumpur").where('created_at <=?',30.day.ago).where('created_at >=?',60.day.ago).average(:responsetime).each do |f| %>
<% a=a+1%>
<% total=total+f[1] %>
<%if maximum<f[1] %>
<% maximum=f[1] %>
<%end%>
<% if minimum>f[1] %>
<% minimum=f[1] %>
<%end%>
<%end%>

<% if a!=0 %>
<p><strong><span>Average : </span></strong><%= (total/a).round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= maximum.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= minimum.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= @pastmonthTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @pastmonthFail %></p>
<p><strong><span>Availability Status :</span></strong><%= @pastmonthAV  %>%</p>
<%else%>
<p><strong><span>Average : </span></strong><%= a.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= a.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= a.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= a %></p>
<p><strong><span>Total Fail :</span></strong><%= a %></p>
<p><strong><span>Availability Status :</span></strong><%= a  %>%</p>
<%end%>


<%end%>
<% if params[:typ]=="today" %>
<% if @todayTotal==0 %>
<p><strong><span>Average : </span></strong><%= @todayTotal %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @todayTotal %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @todayTotal %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= @todayTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @todayTotal %></p>
<p><strong><span>Availability Status :</span></strong><%= @todayTotal %>%</p>
<%else%>
<p><strong><span>Average : </span></strong><%= @todayAV.round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= @todayHigh.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= @todayLow.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= @todayTotal %></p>
<p><strong><span>Total Fail :</span></strong><%= @todayFail %></p>
<p><strong><span>Availability Status :</span></strong><%= @availability %>%</p>
<%end%>



<%end%>
<% if params[:typ]=="week" %>

<% total=0 %>
<% maximum=1 %>
<% minimum=100 %>
<% b=0 %>
<% @performance.group_by_day(:created_at,last: 7).average(:responsetime).each do |a| %>
<% total=total+a[1] %>
<%if a[1]>0 %>
<%b=b+1 %>
<%end%>
<% if maximum<a[1] %>
<% maximum=a[1] %>
<%end%>
<% if minimum>a[1] %>
<% minimum=a[1] %>
<%end%>
<%end%>
<p><strong><span>Average : </span></strong><%= (total.round(2)/b.round(2)).round(2) %>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= maximum.round(2) %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= minimum.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= @weeksuccess %></p>
<p><strong><span>Total Fail :</span></strong><%= @weekfail %></p>
<p><strong><span>Availability Status :</span></strong><%= @availability %>%</p>
<%end%>
<% if params[:typ]=="month" %>

<% total=0 %>
<% maximum=1 %>
<% minimum=100 %>
<% @performance.group_by_week(:created_at, last: 4, time_zone: "Kuala Lumpur").average(:responsetime).each do |a| %>
<% total=total+a[1] %>
<% if maximum<a[1] %>
<% maximum=a[1] %>
<%end%>
<% if minimum>a[1] %>
<% minimum=a[1] %>
<%end%>
<%end%>

<p><strong><span>Average : </span></strong><%= (total/4).round(2)%>&nbsp;msec</p> 
<p><strong><span>Highest  :</span></strong><%= maximum.round(2)  %>&nbsp;msec</p> 
<p><strong><span>Lowest :</span></strong><%= minimum.round(2) %>&nbsp;msec</p>
<hr class="line">
<p><strong><span>Total Query :</span></strong><%= @monthsuccess %></p>
<p><strong><span>Total Fail :</span></strong><%= @monthfail %></p>
<p><strong><span>Availability Status :</span></strong><%= @monthAvailability %>%</p>
<%end%>
<%end%>



<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>


</div>



<% if params[:typ]=="today" %>
<div class="donutchart">
   <div id="chart-container1"></div>
   
</div>
<%end%>
<% if params[:typ]=="week" %>
<div class="graph2">
   <div id="chart-container2"></div>
   <div id="chart-container3"></div>
   <div id="chart-container4"></div>
   <div id="chart-container5"></div>
   <div id="chart-container6"></div>
   <div id="chart-container7"></div>
   <div id="chart-container8"></div>
</div>
<%end%>
<% if params[:typ]=="month" %>
<div class="graph3">
   <div id="chart-container9"></div>
   <div id="chart-container10"></div>
   <div id="chart-container11"></div>
   <div id="chart-container12"></div>
</div>
<%end%>

<% if params[:typ1]=="yesterday" %>
<div class="donutchart">
<div id="chart-container13" ></div>
</div>
<%end%>

<% if params[:typ1]=="pastweek" %>
<div class="graph2">
<div id="chart-container14" ></div>
<div id="chart-container15" ></div>
<div id="chart-container16" ></div>
<div id="chart-container17" ></div>
<div id="chart-container18" ></div>
<div id="chart-container19" ></div>
<div id="chart-container20" ></div>
</div>


</div>
<%end%>

<% if params[:typ1]=="pastmonth" %>
<div class="graph6">


</div>
<%end%>


<head>
<style>

.performance{
  box-shadow: 0 15px 20px -15px #C0C0C0;
}
.title{

  box-shadow: 0 15px 20px -15px #C0C0C0;
}
.line {
  border:none;
  
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #C0C0C0;
  box-shadow: 0 5px 15px -15px #C0C0C0;
  margin: -50px auto 10px; 
}

.line2 {
  border:none;
  
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #C0C0C0;
  box-shadow: 0 -15px 5px -15px #C0C0C0;
  margin: -50px auto 10px; 
}


.graph p{
  display: inline-block;
}
.graph2 div{
  display: inline-block;
}
.graph3 div{
  display: inline-block;
  margin-left: 20px;
}
.graph4 div{
  display: inline-block;
}
hr {
  border:none;
  
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #C0C0C0;
  box-shadow: 0 15px 15px -15px #C0C0C0;
  margin: -50px auto 10px; 
}

.main{
 margin-top: 70px;
}

.donutchart {
  vertical-align:middle!important; 
  text-align:center!important;
  display: block!important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: lightblue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 50px;
  border-radius: 0px;
}

#myBtn:hover {
  background-color: #2980b9;
}

.page {

  margin-bottom: 400px;
}
body
{
  background-color: #F5F5F5;
}
</style>
</head>

<hr > 
<div class="performance">
<h1>Performances</h1>
</div>

<table>
  <thead>
    <tr>
      <th>No.&nbsp;</th>
      <th>Response Time(Milisecond)&nbsp;</th>
      <th>Date Time&nbsp;</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td><% @total %></td>
  </tr>
   <% b=0%>
    <% @performances.each do |performance| %>
      <tr>
      
      <% if @question.id==performance.question_id %>
        <td><%= b=b+1 %>.</td>
        <td><%= performance.responsetime %>&nbsp;</td>
        <td><%= performance.created_at.in_time_zone('Kuala Lumpur').strftime("%d/%m/%y ""%I:%M %p" )%>&nbsp;</td>
        <% a=performance.responsetime %>

        <script>
      

        </script>
       
        <%end%>
      </tr>
      <% @total %>
    <% end %>
  </tbody>
</table>

<br>
<div class="page"> 
<%= will_paginate @performances %>
<%= link_to 'Back', questions_path %>
</div>
<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
///////////////////////////


$('input[name="daterange"]').daterangepicker(
{
    locale: {
      format: 'YYYY-MM-DD'
    },
    startDate:'2017-07-01',
    endDate: '2017-8-31'

}, 
function(start, end, label) {
    alert("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') );
    window.location.href = "/questions/" + "<%= @question.id %>"+"/performances?start=" + start.format('YYYY-MM-DD') + "&end=" + end.format('YYYY-MM-DD')
});




$( "#typ" ).change("turbolinks:load",function() {
  
  Turbolinks.visit("?typ="+ this.value);
});

$( "#typ1" ).change("turbolinks:load",function() {
  
  Turbolinks.visit("?typ1="+ this.value);
});
Highcharts.chart('container0', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Today'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Success',
            y: <%= @success1%>
        }, {
            name: 'Fail',
            y: <%= @fail1 %>,
            sliced: true,
            selected: true
        }]
    }]
});



</script>

<script type="text/javascript">

 FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container0',
    width: '450',
    height: '450',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Today",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
           
            "startingAngle": "310",
            "showLabels": "0",
          
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @todayAvai.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
           
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }, {
            "label": "Fail",
            "value": <%= @todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});

/////////TODAY////////////////
   FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container1',
    width: '450',
    height: '450',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Today",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
           
            "startingAngle": "310",
            "showLabels": "0",
          
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @todayAvai.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
           
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }, {
            "label": "Fail",
            "value": <%= @todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});

///////WEEKLY/////
/////today//////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container2',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Today",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status1.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @todayTotal-@todayFail %>
        }, {
            "label": "Fail",
            "value": <%= @todayFail %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 6///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container3',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 2",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status2.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success2-@fail2 %>
        }, {
            "label": "Fail",
            "value": <%= @fail2 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 5///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container4',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 3",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status3.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success3-@fail3 %>
        }, {
            "label": "Fail",
            "value": <%= @fail3 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 4///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container5',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 4",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status4.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success4-@fail4 %>
        }, {
            "label": "Fail",
            "value": <%= @fail4 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 3///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container6',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 5",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
       
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status5.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success5-@fail5 %>
        }, {
            "label": "Fail",
            "value": <%= @fail5 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 2///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container7',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 6",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status6.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success6-@fail6 %>
        }, {
            "label": "Fail",
            "value": <%= @fail6 %>
        }]
    }
}
);
    fusioncharts.render();
});
//////////day 1///////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container8',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 7",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status7.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @success7-@fail7 %>
        }, {
            "label": "Fail",
            "value": <%= @fail7 %>
        }]
    }
}
);
    fusioncharts.render();
});


/////MONTH/////////
//////this week////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container9',
    width: '500',
    height: '500',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Week 1",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status8.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @total[3]-@total2[3] %>
        }, {
            "label": "Fail",
            "value": <%= @total2[3] %>
        }]
    }
}
);
    fusioncharts.render();
});
/////week3////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container10',
    width: '500',
    height: '500',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Week 2",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status9.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @total[2]-@total2[2] %>
        }, {
            "label": "Fail",
            "value": <%= @total2[2]%>
        }]
    }
}
);
    fusioncharts.render();
});
/////week2/////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container11',
    width: '500',
    height: '500',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Week 3",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
          
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status10.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @total[1]-@total2[1] %>
        }, {
            "label": "Fail",
            "value": <%= @total2[1] %>
        }]
    }
}
);
    fusioncharts.render();
});
/////week1//////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container12',
    width: '500',
    height: '500',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Week 4",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @status11.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @total[0]-@total2[0] %>
        }, {
            "label": "Fail",
            "value": <%= @total2[0] %>
        }]
    }
}
);
    fusioncharts.render();
});

//////yesterday/////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container13',
    width: '450',
    height: '400',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Yesterday",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @yesterdayAvai.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @yesterdayTotal-@yesterdayFail %>
        }, {
            "label": "Fail",
            "value": <%= @yesterdayFail %>
        }]
    }
}
);
    fusioncharts.render();
});



//////PASTWEEK////
/////day1////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container14',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 1",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
           
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai1.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal1-@pastFail1 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail1 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day2//////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container15',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 2",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
      
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai2.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal2-@pastFail2 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail2 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day3////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container16',
     width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 3",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai3.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal3-@pastFail3 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail3 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day4////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container17',
   width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 4",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
            
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai4.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal4-@pastFail4 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail4 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day5//////
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container18',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 5",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
       
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai5.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal5-@pastFail5 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail5 %>
        }]
    }
}
);
    fusioncharts.render();
});

////day6///
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container19',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 6",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
         
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai6.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal6-@pastFail6 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail6 %>
        }]
    }
}
);
    fusioncharts.render();
});

//////day7///
FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'doughnut2d',
    renderAt: 'chart-container20',
    width: '420',
    height: '420',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Availability Status",
            "subCaption": "Day 7",
            "numberPrefix": " ",
            "showBorder": "0",
            "use3DLighting": "0",
            "enableSmartLabels": "1",
            "startingAngle": "310",
            "showLabels": "0",
        
            "showLegend": "1",
            "defaultCenterLabel": "Availability\n"+<%= @pastAvai7.round(2) %>+"%",
            "centerLabel": "$label:\n $value",
            "centerLabelBold": "1",
            "showTooltip": "0",
            "decimals": "0",
            "useDataPlotColorForLabels": "1",
            "theme": "fint"
        },
        "data": [{
            "label": "Success",
            "value": <%= @pastTotal7-@pastFail7 %>
        }, {
            "label": "Fail",
            "value": <%= @pastFail7 %>
        }]
    }
}
);
    fusioncharts.render();
});

/////date////


</script>
