

<style>

.navbar-inverse {
background-color:#2088B2 !important;
color:white!important;
font-family: "Oswald";
box-shadow: 5px 25px 25px -15px #C0C0C0;
}
.navbar-inverse li a {
   color: black !important;
 }

.navbar-inverse a {
 color: white !important;
}

.navbar-nav a:hover {
 color: white !important;
 background-color:#1ac6ff!important;

}

#nav
 {

 margin-bottom: -1px;
 background-color:#262626;
 width:100%;
 height:50px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:fixed;
 bottom:0px;
 overflow: hidden!important;
 z-index: 9999!important;
}

.fa-twitter-square li:hover{
  background-color:#1ac6ff!important;
  color: white !important;
   transition:0s!important;
   font-family: 'Oswald' !important;
}
.fa-twitter-square a:hover{
  background-color:#1ac6ff!important;
  color: white !important;
   transition:0s!important;
}
a:focus, a:hover {
    text-decoration: none;
}
</style>


<!--  
<div id="nav">
<strong><ul class="nav navbar-nav navbar-left">

     <li style="margin-top: 15px; margin-left: 10px;color:#FFFF81;"><span class="glyphicon glyphicon-phone"></span>&nbsp; 014-536 6430&nbsp;</li>
     <li style="margin-top: 15px; margin-left: 50px;color:#FFFF81;"><span class="glyphicon glyphicon-envelope"></span>&nbsp; dnsmonitor@gmail.com</li>
     <li style="margin-left: 100px;color:#FFFF81; margin-bottom: 100px;"><a href="#"><i class="fa fa-facebook-official" aria-hidden="true" style="font-size:30px;"></i></a></li>
      <li style="margin-left: 20px;color:#FFFF81; margin-bottom: 100px;"><a href="#"><i class="fa fa-twitter-square" aria-hidden="true" style="font-size:30px;"></i></a></li>
    </ul>
    </strong> 

</div>
!-->

<% if !user_signed_in? %>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <b><a style="font-size: 25px; font-color:#00008B;" class="navbar-brand" >DNS Monitoring</a></b>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item" style="margin-left:10px;"><strong><%= link_to "Home", root_path  %></strong></li>
           <li class="nav-item" style="margin-left:10px;"><strong><%= link_to "Domain List", questions_path %></strong>&nbsp;</li>
          </ul>
              <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 10px;"><b><%= link_to "Sign Up",new_user_registration_path %></b>&nbsp;</li>
                <li><b><%= link_to "Log in", new_user_session_path %></b></li>
              </ul>
        
    
      </div>
    </nav>


<!--
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <strong>
     <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
       <a style="font-size: 30px; font-color:#00008B;" class="navbar-brand" >DNS Monitoring</a>
     </div></strong>
     <div class="collapse navbar-collapse" id="myNavbar">
    
    <strong>
     <ul class="nav navbar-nav">
       <li onclick="myFunction()"><%= link_to "Home", "" %></li>
       <li onclick="myFunction()"><%= link_to "DNS List", "" %></li>
      
     
     </ul>
    </strong>
    <strong><ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Sign Up",new_user_registration_path %></li>
    <li><%= link_to "Log in", new_user_session_path %></li>
    </ul>
    </strong>
    </div>
  </div>
</nav>
!-->
<%else%>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a style="font-size: 25px; font-color:#00008B; " class="navbar-brand" ><b>DNS Monitoring</b></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item" style="margin-left:10px;"><strong><%= link_to "Home", root_path  %></strong></li>
           <li class="nav-item" style="margin-left:10px;"><strong><%= link_to "Domain List", questions_path %></strong>&nbsp;</li>
        </ul>
              <ul class="nav navbar-nav navbar-right">
                <li style="color:#FFFF81; margin-right: 10px; margin-left:10px;"><span class="fa fa-user-circle"><b> Welcome&nbsp;<%=  current_user.email%>&nbsp;</a></b></li>
                <li style="margin-left:10px;"><strong><%= link_to("Log Out",destroy_user_session_path, :method =>:delete ) %></strong></li>
              </ul>
        
    
      </div>
    </nav>


<%end%>




</body>

<script>

function myFunction() {
    alert("Please Log In First");
}
</script>



