<!DOCTYPE html>
<html lang="en">
<head>
<style>
.navbar-inverse {
position: fixed!important;
top: 0!important;
overflow: hidden!important;
background-color:#2088B2 !important;
border-color: #2088B2 !important;
color:white!important;
width: 100%!important;
z-index: 9999!important;

box-shadow: 5px 25px 25px -15px #C0C0C0;
}
.navbar-inverse li a {
   color: black !important;
 }

.navbar-inverse a {
 color: white !important;
}

.navbar-nav a:hover {
 color: white !important;
 background-color:#1ac6ff!important;
 width:;
 transition:0s!important;

}

#nav
 {

 margin-bottom: -1px;
 background-color:#262626;
 width:100%;
 height:50px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:fixed;
 bottom:0px;
 overflow: hidden!important;
 z-index: 9999!important;
}

.fa-twitter-square li:hover{
  background-color:#1ac6ff!important;
  color: white !important;
   transition:0s!important;
}
.fa-twitter-square a:hover{
  background-color:#1ac6ff!important;
  color: white !important;
   transition:0s!important;
}

</style>
  <title>DNS Monitoring</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="nav">
<strong><ul class="nav navbar-nav navbar-left">

     <li style="margin-top: 15px; margin-left: 10px;color:#FFFF81;"><span class="glyphicon glyphicon-phone"></span>&nbsp; 014-536 6430&nbsp;</li>
     <li style="margin-top: 15px; margin-left: 50px;color:#FFFF81;"><span class="glyphicon glyphicon-envelope"></span>&nbsp; dnsmonitor@gmail.com</li>
     <li style="margin-left: 100px;color:#FFFF81; margin-bottom: 100px;"><a href="#"><i class="fa fa-facebook-official" aria-hidden="true" style="font-size:30px;"></i></a></li>
      <li style="margin-left: 20px;color:#FFFF81; margin-bottom: 100px;"><a href="#"><i class="fa fa-twitter-square" aria-hidden="true" style="font-size:30px;"></i></a></li>
    </ul>
    </strong> 

</div>




<% if !user_signed_in? %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <strong>
     <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
       <a style="font-size: 30px; font-color:#00008B;" class="navbar-brand" >DNS Monitoring</a>
     </div></strong>
     <div class="collapse navbar-collapse" id="myNavbar">
    
    <strong>
     <ul class="nav navbar-nav">
       <li onclick="myFunction()"><%= link_to "Home", "" %></li>
       <li onclick="myFunction()"><%= link_to "DNS List", "" %></li>
      
     
     </ul>
    </strong>
    <strong><ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Sign Up",new_user_registration_path %></li>
    <li><%= link_to "Log in", new_user_session_path %></li>
    </ul>
    </strong>
    </div>
  </div>
</nav>

<%else%>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <strong><div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     <a style="font-size: 30px; color:#F5FAFA!important;" class="navbar-brand" >DNS Monitoring</a>
    </div></strong>
    <div class="collapse navbar-collapse" id="myNavbar">

    <strong>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "DNS List", questions_path %></li>
    </ul>
    </strong>
    <strong><ul class="nav navbar-nav navbar-right">

     <li style="margin-top: 15px; color:#FFFF81;"><span class="glyphicon glyphicon-user"></span> Welcome&nbsp;<%=  current_user.email%></li>
     <li><%= link_to("Log Out",destroy_user_session_path, :method =>:delete)%></li>
    </ul>
    </strong> 
    </div>
  </div>
</nav>

<%end%>




</body>
</html>
<script>

function myFunction() {
    alert("Please Log In First");
}
</script>



