<!DOCTYPE html>
<html>
  <head>
   
    <title>DNS MONITORING</title>
    
    <%= csrf_meta_tags %>
   <link rel="shortcut icon" href="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjP48Wo3cvUAhUMTbwKHYwwCXMQjRwIBw&url=https%3A%2F%2Fsocialconnections.info%2Fsponsor-highlight-dns-a-s%2F&psig=AFQjCNGLgOZfFzvFLwzZcBM48P06kycFmA&ust=1498023818855018"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>

  </style>

  </head>


  <body>
 <%= render 'layouts/header' %>
     




 
    <%= yield %>
  </body>
</html>
